ul {
  list-style-type: none; }

ul,
li {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #000; }

img {
  height: 100%;
  width: auto; }

* {
  box-sizing: border-box; }

body {
  font-size: 62.5%; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.header__nav {
  display: flex;
  padding: .5rem 0;
  align-items: center; }

.header__nav__item {
  font-size: 1rem;
  padding: .5rem 1rem; }

.header__nav--login {
  display: flex;
  margin-left: auto; }

.header__nav--icons {
  display: flex;
  align-items: center; }
  .header__nav--icons .icon-social {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .6rem; }

.header__megamenu {
  display: none; }

.header__nav {
  display: none; }

.mobile-menu nav {
  display: none; }

.banner {
  height: 20rem;
  width: 100%;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  padding: 1rem; }

.row {
  flex-basis: 100%; }

.a {
  flex: 2.5; }

.b {
  flex: 7.5; }

.explore {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin: -.25rem; }

.explore__item {
  flex: 1 0 25%;
  margin: .25rem;
  background: #e2e2e2;
  height: 30rem; }

/* 

  &:first-of-type {
    flex: 1 0 58.3%;
    background: #333;
  }

*/
.lookbooks__content {
  display: flex;
  flex-direction: column;
  margin: -.25rem; }

.lookbooks__headline {
  display: flex;
  justify-content: center;
  margin: 1rem 0; }

.lookbooks__headline__text {
  font-size: 1.2rem; }

.lookbooks__content__item {
  display: flex;
  flex: 33.333%;
  justify-content: center;
  height: 15rem;
  margin: .25rem; }

.new-products__content {
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem; }

.new-products__content__item {
  display: flex;
  flex-direction: column;
  flex: 1 0 24%;
  margin: .25rem;
  justify-content: space-around; }
  .new-products__content__item img {
    height: 360px; }

footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem; }
