.row {
  flex-basis: 100%;
}
.a {
  flex: 2.5;
}
.b {
  flex: 7.5;
}
.explore {

  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin: -.25rem;
}

.explore__item {
  flex: 1 0 25%;
  margin: .25rem;
  background: #e2e2e2;
  height: 30rem;
}

/* 

  &:first-of-type {
    flex: 1 0 58.3%;
    background: #333;
  }

*/