$grid_columns: 12;

@function calculate_size($i, $grid_columns){
    @return percentage($i / $grid_columns);
};

.grid {
    /*margin: 0 auto;
    max-width: 1200px;*/
    width: 100%;
}

.row {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

@for $i from 1 through $grid_columns {
  .col-#{$i}{
    width: calculate_size($i,$grid_columns)
  }
}
