.header__nav {
  display: flex;
  padding: .5rem 0;
  align-items: center;
}

.header__nav__item {
  font-size: 1rem;
  padding: .5rem 1rem;
}

.header__nav--login {
  display: flex;
  margin-left: auto;
}

.header__nav--icons {
  display: flex;
  align-items: center;
  .icon-social {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 .6rem;
  }
}

.header__megamenu {
  display: none;
}