.lookbooks__content {
  display: flex;
  flex-direction: column;
  margin: -.25rem;
}

.lookbooks__headline {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.lookbooks__headline__text {
  font-size: 1.2rem;
}

.lookbooks__content__item {
  display: flex;
  flex: 33.333%;
  justify-content: center;
  height: 15rem;
  margin: .25rem;
}