.new-products {
}

.new-products__content {
  display: flex;
  flex-wrap: wrap;
  margin: -.25rem;
}

.new-products__content__item {
  display: flex;
  flex-direction: column;
  flex: 1 0 24%;
  margin: .25rem;
  justify-content: space-around;
  img {
    height: 360px;
  }
}